.player,
.follower {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
.player img,
.follower img {
  opacity: 1;
  transition: opacity 1s;
  border-radius: 50%;
  width: 100%;
}
.player img {
  border: 3px solid #e1642b;
}
.safe img {
  opacity: 0.1;
}
