.playing-field {
  border: 1px solid black;
  position: relative;
  margin: auto;
  background-image: radial-gradient(circle, #ace14c, #58942c);
  border: solid 10px #dc5a1f;
  border-radius: 50px;
}
